{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="">
    <form method="post" role="form">

        {# Reste du formulaire #}
        {{ form_widget(form) }}
        <br>
        <input type="submit" class="btn btn-success" />
    </form>
</div>
