<form method="post" action="{{ path('article_search') }}" class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{'Rechercher'|trans}}" name="key" size="40">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></button>
    </div>
</form>