{% extends "ESGIBlogBundle::layout.html.twig" %}

{% block title %}ESGIBlogBundle:Article:see{% endblock %}

{% block blog_body %}
<h1>Welcome to the Article:see page</h1>

    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <i>{{ 'Article rédigé par'|trans }}  - {{ article.updated|date('d-M-y') }}</i>
{% endblock %}
