{% extends 'ESGIBlogBundle::layout.html.twig' %}
{% block title %}ESGIBlogBundle:Category:postCategories{% endblock %}

{% block block_body %}
<h1>Welcome to the Category:postCategories page</h1>
    {% include "ESGIBlogBundle:Category:form.html.twig" %}
{% endblock %}
