{% extends 'ESGIBlogBundle::layout.html.twig' %}

{% block title %}ESGIBlogBundle:Category:putCategory{% endblock %}

{% block body %}
<h1>Welcome to the Category:putCategory page</h1>
{% endblock %}
