{% extends '::base.html.twig' %}
{% block title %}Blog Parfait{% endblock %}

{% block bockcategories %}

 {% endblock %}       
{% block body %}


 

      {# Afficher les contenus #}
        <header class="intro-header" style="background-image: url({{ asset('img/home-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Inscription</h1>
                        <hr class="small">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class = "container">
    
       {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}
    {% endblock %}

{% endblock %}
